.name {
    font-size: 2em;
}

.date {
    grid-area: 2 / 1 / 3 / 2;
}

.time {
    grid-area: 3 / 1 / 4 / 2;
}

.condition {
    grid-area: 4 / 1 / 5 / 2;
}

.weather-icon {
    grid-area: 5 / 1 / 5 / 2;
}

#container-one > .temp-container-one.temp {
    grid-area: 6 / 1 / 7 / 2;
}

.data-icon {
    height: 4em;
    justify-self: stretch;
}

.thermometer-icon {
    grid-area: 1 / 3 / 2 / 4;
}

.humidity-icon {
    grid-area: 2 / 3 / 3 / 4;
}

.wind-speed-icon {
    grid-area: 3 / 3 / 4 / 4;
}

.sunrise-icon {
    grid-area: 4 / 3 / 5 / 4;
}

.sunset-icon {
    grid-area: 5 / 3 / 6 / 4;
}

.feels-like-temp-container-one {
    grid-area: 1 / 4 / 2 / 5;
}

#container-one > .humidity {
    grid-area: 2 / 4 / 3 / 5;
}

#container-one > .wind-speed {
    grid-area: 3 / 4 / 4 / 5;
}

.sunrise {
    grid-area: 4 / 4 / 5 / 5;
}

.sunset {
    grid-area: 5 / 4 / 6 / 5;
}
