.overlay.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.error-default-content,
.error-content {
    background-color: white;
    width: 50%;
    padding: 1em;
    text-align: center;
}
