@font-face {
    font-family: 'rubik';
    src: url('../fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

body {
    font-family: 'rubik';
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

body.dark-mode {
    color: #dadce0;
}

.hidden,
.hidden-temp {
    display: none;
}

button {
    border: none;
    border-radius: 3px;
}

container,
#button-and-form {
    padding: 0.38em;
}

form,
.change-data-buttons {
    padding: 0.5em;
}

#button-and-form {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(240, 248, 255, 0.344);
    margin: 1em;
    border-radius: 8px;
}

input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
    background: none;
}

input::placeholder {
    color: black;
}

input.dark-mode {
    border-color: white;
}

input.dark-mode::placeholder {
    color: white;
}

input.dark-mode:focus {
    color: white;
}

button {
    border: 2px solid black;
    border-radius: 4px;
    background: none;
}

button.dark-mode {
    border: 2px solid white;
    color: white;
}

#container-one {
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: rgba(240, 248, 255, 0.344);
    margin: 1em;
    border-radius: 8px;
}

#container-two {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.344);
    margin: 1em;
    border-radius: 8px;
}

#container-three {
    display: none;
    grid-template-rows: 1fr 1fr 1fr;
}

@media (max-width: 540px) {
    #container-one {
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: 1fr 1fr;
    }

    img.thermometer-icon {
        grid-area: 7 / 1 / 8 / 2;
        justify-self: auto;
    }

    img.rain-icon {
        grid-area: 8 / 1 / 9 / 2;
        justify-self: auto;
    }

    img.humidity-icon {
        grid-area: 9 / 1 / 10 / 2;
        justify-self: auto;
    }

    img.wind-speed-icon {
        grid-area: 10 / 1 / 11 / 2;
        justify-self: auto;
    }

    img.sunrise-icon {
        grid-area: 11 / 1 / 12 / 2;
        justify-self: auto;
    }

    img.sunset-icon {
        grid-area: 12 / 1 / 13 / 2;
        justify-self: auto;
    }

    img.feels-like-temp-container-one {
        grid-area: 7 / 2 / 8 / 3;
        justify-self: auto;
    }

    img.chance-of-rain {
        grid-area: 8 / 2 / 9 / 3;
        justify-self: auto;
    }

    p.feels-like-temp-container-one {
        grid-area: 7 / 2 / 8 / 3;
    }

    p.chance-of-rain {
        grid-area: 8 / 2 / 9 / 3;
    }

    #container-one > p.humidity {
        grid-area: 9 / 2 / 10 / 3;
    }

    #container-one > p.wind-speed {
        grid-area: 10 / 2 / 11 / 3;
    }

    p.sunrise {
        grid-area: 11 / 2 / 12 / 3;
    }

    p.sunset {
        grid-area: 12 / 2 / 13 / 3;
    }

    #button-and-form {
        flex-direction: column;
    }

    container.container-three-inner-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
