@font-face {
    font-family: 'rubik';
    src: url('../fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

body {
    font-family: 'rubik';
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

body.dark-mode {
    color: #dadce0;
}

.hidden,
.hidden-temp {
    display: none;
}

button {
    border: none;
    border-radius: 3px;
}

container,
#button-and-form {
    padding: 0.38em;
}

form,
.change-data-buttons {
    padding: 0.5em;
}

#button-and-form {
    display: flex;
    justify-content: space-evenly;
}

input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
}

input.dark-mode {
    border-color: white;
}

button {
    border: 2px solid black;
    border-radius: 4px;
    background: none;
}

button.dark-mode {
    border: 2px solid white;
}

#container-one {
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#container-two {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

#container-three {
    display: none;
    grid-template-rows: 1fr 1fr 1fr;
}
